/* This is for the retina display
-----------------------------------------------*/
img{
    width: 300px;
}

/* Global Styles
  color:#D81159;
  color:#5B5F97
-----------------------------------------------*/
h2 {
  color:#031926;
  font-family: 'Roboto Slab', serif;
  font-weight:700;
}

.navbar a{
  color:#031926;
  font-family: 'Roboto Slab', serif;
}

body{
  background: floralwhite;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.middle{
  width:750px;
  margin:40px auto;
}

/* Logo
-----------------------------------------------*/
header img{
  display: block;
  margin: 0 auto;
}
header .bg{
  background:#FAF0E6;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Navigation bar
background:#031926
color:#468189
-----------------------------------------------*/
nav{
  width:765px;
  margin:20px auto;
}
.navbar a{
  color:#EBF5EE;
  background:#031926;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}
.navbar a:hover{
  background:rgba(3, 25, 38, 60%);
}

/* Dashboard
-----------------------------------------------*/
.dashboard p{
  font-weight:400;
}

/* Menu
-----------------------------------------------*/
.figures figure {
  display:inline-block;
  margin:0 auto;
}
.figures img {
  width: 250px;
  margin:8px auto;
}
.figures figcaption{
  font-weight:600;
}

/* Order Form
-----------------------------------------------*/
.order-form h3{
  font-style:italic;
}
.order-form label{
  font-weight:700;
}
.order-form-agree div{
  width:500px;
}
button{
  margin-top:18px;
}
