/* This is the stylesheet for the serverless
   website designed for Mom's Creamy.
-----------------------------------------------*/

/* Global Styles
-----------------------------------------------*/
h1{
  text-align: center;
}
h2 {
  font-weight:700;
  text-align: center;
  margin:0;
}

h2, .navbar a{
  color:#031926;
  font-family: 'Roboto Slab', serif;
}
h4{
  margin-top: 5px;
  text-align: center;
}

body{
  background: floralwhite;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.middle{
  width:80%;
  margin:40px auto;
}

/* Logo
-----------------------------------------------*/
header .bg{
  background:#FAF0E6;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}
header img{
  margin: 6px auto 20px;
}

/* Navigation bar
-----------------------------------------------*/
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar a{
  color:#EBF5EE;
  background:#031926;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  margin: 2px;
}
.navbar a:hover{
  background:rgba(3, 25, 38, 60%);
}

/* Dashboard
-----------------------------------------------*/


/* Menu
-----------------------------------------------*/
.figures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.figures figure {
  margin:0 20px 20px;
}
.figures img {
  width: 200px;
}
.figures figcaption{
  font-weight: bold;
  text-align: center;
}

/* Order Form
-----------------------------------------------*/
.order-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-form-item{
  background: #F5F5F5;
  border-radius: 20px;
  padding: 20px;
}
div button{
  display: flex;
}
button{
  margin: 20px auto 0;
}
